.mapContainer,
  .mapContainer canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
}
#root {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mapContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.mapboxgl-ctrl-bottom-right, .maplibregl-ctrl-bottom-right {
  bottom: 30% !important;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact, .maplibregl-ctrl-attrib.maplibregl-compact {
  background-color: hsla(0,0%,100%,.5) !important;

  transform: scale(0.7);
  transform-origin: bottom right;
}